# Build
build/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
main
test_main
fortran_main
testall_main

# ctags
tags

# debug
debug/*

# png
*.dot
*.png

# tools
tools/*
test.cpp

# nc files
*.nc
